<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow={{progress}} aria-valuemin="0" aria-valuemax="100" style={{style}}>
    <span class="sr-only">{{progress}}% Complete</span>
</div>
