//
// Content pages
//

.content-header {
    position: relative;
    border-bottom: $blue-light 1px solid;
    box-shadow: lighten($blue-light, 2%) 0 2px 3px;
}

.content-body {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    margin: 0;
}

//
// master view
//

$item-active-shadow-width: 7px;
$item-height: 80px;
$cover-size: 60px;
$item-padding: ($item-height - $cover-size) / 2;

.content-master {
    position: absolute;
    width: 33%;
    bottom: 0;
    top: 0;
    left: 0;

    background: #fff;
    border-right: $blue-light 1px solid;

    .content-header {
        height: $content-master-header-height;
        line-height: $content-master-header-height;

        font-size: 1.3rem;
        color: $blue;
        text-transform: uppercase;

        .content-kind-title {
            margin-left: $content-header-spacing;
        }

        .content-add {
            position: absolute;
            top: 10px;
            right: $content-header-spacing;

            .fa {
                margin-right: 5px;
            }
        }
    }

    .content-body {
        top: $content-master-header-height;
        padding: 0;

        list-style: none;

        li {
            position: relative;
            height: $item-height;
            margin: 0;
            padding: 0;

            border-bottom: $blue-light 1px solid;

            white-space: nowrap;
            overflow: hidden;

            a {
                display: block;
                color: rgba(0,0,0,0.5);
                text-decoration: none;
            }

            .item-cover {
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;

                img {
                    position: absolute;
                    top: $item-padding;
                    left: $item-active-shadow-width + $item-padding;

                    height: $cover-size;
                    width: $cover-size;
                    border-radius: 100%;
                }
            }

            .item-infos {
                position: absolute;
                top: 6px;
                left: $item-active-shadow-width + $cover-size + (2 * $item-padding);
                right: 0px;
                bottom: 0px;

                padding: $item-padding;
            }

            .item-title {
                font-size: 1.6rem;
                line-height: 1.25em;
                font-weight: normal;

                margin: 0 0 0.3em 0;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .item-meta {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                .item-place {
                    margin-bottom: 5px;
                }

                .item-date {
                    font-style: italic;
                }
            }

            &.active {
                border-bottom: lighten($midgrey, 40%) 1px solid;
                background: lighten($blue-light, 2%);
                box-shadow: lighten($midgrey, 40%) 0 -1px 0, // top border
                            rgba(0,0,0,0.06) $item-active-shadow-width 0 0 inset, // big left border
                            lighten($midgrey, 40%) 1px 0 0 inset; // small left border
            }
        }
    }
} // .content-master

body.events .content-master .content-body li {
    .item-infos {
        padding: 0px $item-padding;
    }
}

//
// details view
//
.content-details {
    position: absolute;
    width: 67%;
    bottom: 0;
    top: 0;
    right: 0;

    overflow: auto;

    background: #fff;

    .content-header {
        height: $content-details-header-height;

        .content-cover {
            position: absolute;
            top: $content-header-spacing;
            left: $content-header-spacing;

            z-index: $content-cover-z-index;

            .thumbnail {
                margin-bottom: 0px;
            }

            .no-image {
                height: $img-small-thumbnail-height;
                width: $img-small-thumbnail-width;
            }
        }

        .content-fields {
            position: absolute;
            top: $content-header-spacing;
            left: $content-header-spacing + $img-small-thumbnail-width + $content-header-spacing;
        }

        .content-actions {
            .content-action-button {
                position: absolute;
                top: $content-header-spacing;
                width: $content-action-button-width;
                z-index: $content-cover-z-index + 1;

                .fa {
                    margin-right: 5px;
                }
            }
        }
    }

    .content-body {
        top: $content-details-header-height;

        &.content-preview {
            padding: $content-details-body-padding;
        }
    }
} // .content-details

body.pages .content-details {
    .content-header {
        height: $content-details-pages-header-height;
    }

    .content-body {
        top: $content-details-pages-header-height;
    }
}

body.events .content-details {
    .content-header {
        height: $content-details-events-header-height;
    }

    .content-body {
        top: $content-details-events-header-height;
    }
}

//
// details: show content
//
.content-show {
    .content-header {
        .content-fields {
            right: ($content-action-button-width-with-margin * 2) + ($content-header-spacing * 3);

            .content-title {
                font-weight: bold;
                font-size: 1.6em;
                line-height: 1.6em;
                height: 1.6em;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .content-tagline {
                font-size: 1.3em;
                line-height: 1.3em;
                height: 1.3em;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .content-innavbar {
                margin-top: 10px;
                font-style: italic;
                color: $midgrey;
            }
        }

        .content-action-button {
            &.action-edit {
                right: $content-header-spacing;
            }

            &.action-delete {
                right: $content-action-button-width-with-margin + $content-header-spacing;
            }
        }
    }
} // .content-show

//
// details: edit content
//
.content-edit {
    .content-header {
        .content-fields {
            right: ($content-action-button-width-with-margin + $content-action-view-width) + ($content-header-spacing * 3);

            input.content-title, input.content-tagline, input.content-place {
                width: 100%;
                font-family: monospace;

                border: 0;
                padding: 0;
                background: transparent;

                // removes the blue box shadow set by bootstrap
                outline: none !important;
                box-shadow: none;
            }

            .form-group {
                margin-bottom: 15px;
            }

            .content-title {
                font-weight: bold;
                font-size: 2em;
            }

            .content-tagline {
                font-size: 1.5em;
            }

            .content-innavbar {
                margin-top: 5px;
                color: $midgrey;
            }

            .content-dates {
                margin-top: 10px;
            }
        }

        .content-action-button {
            &.action-save {
                right: $content-header-spacing;
            }

            &.action-view {
                right: $content-action-button-width-with-margin + $content-header-spacing;

                font-size: 2em;
                line-height: 32px;
                color: #333;
                width: $content-action-view-width;

                &.disabled {
                    color: #bbb;
                }
            }
        }
    }

    .content-body {
        .CodeMirror {
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background: transparent;

            .CodeMirror-lines {
                padding: $content-details-body-padding;
            }

            pre {
                font-size: 1.6rem;
                line-height: 1.56em;
                font-family: monospace;
                color: lighten($darkgrey, 10%);

                &.CodeMirror-placeholder {
                    color: #ccc;
                }
            }

            .CodeMirror-focused,
            .CodeMirror-selected {
                color: $darkgrey;
                background: lighten($blue, 50%);
                text-shadow: none;
            }

            ::selection {
                color: $darkgrey;
                background: lighten($blue, 50%);
                text-shadow: none;
            }
        }

        .cm-header {
            color: #000;
            font-weight: bold;

            font-size: 1.4em;
            line-height: 1.4em;
        }
        .cm-header-1 {
            font-size: 2em;
            line-height: 2em;
        }
        .cm-header-2 {
            font-size: 1.8em;
            line-height: 1.8em;
        }
        .cm-header-3 {
            font-size: 1.6em;
            line-height: 1.6em;
        }
        .cm-header-4 {
            font-size: 1.4em;
            line-height: 1.4em;
        }
        .cm-header-5 {
            font-size: 1.2em;
            line-height: 1.2em;
        }
        .cm-header-6 {
            font-size: 1em;
            line-height: 1em;
        }

        .cm-variable-2,
        .cm-variable-3,
        .cm-keyword {
            color: lighten($darkgrey, 10%);
        }

        .cm-string,
        .cm-strong,
        .cm-link,
        .cm-comment,
        .cm-quote,
        .cm-number,
        .cm-atom,
        .cm-tag {
            color: #000;
            font-weight: bold;
        }
    }
} // .content-edit
