//
// Content pages
//

.content-view-container {
    position: absolute;
    top: $navbar-height;
    right: 0;
    bottom: 0;
    left: 0;

    overflow-y: auto;
    overflow-x: hidden;

    background: #fff;
}

.content-list {
    position: absolute;
    width: 33%;
    bottom: 0;
    top: 0;
    left: 0;

    padding: 15px;

    border-right: #edece4 1px solid;
    background: #fff;

    .content-list-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 40px;
        z-index: 400;

        padding: 10px 20px;

        box-shadow: rgba(0, 0, 0, 0.03) 0 2px 3px;

        font-size: 1.3rem;
        color: #aaa9a2;
        text-transform: uppercase;

        small {
            font-size: 0.85em;
        }

        .content-add {
            position: absolute;
            top: 10px;
            right: 20px;

            .fa {
                margin-right: 5px;
            }
        }
    }

    .content-list-content {
        position: absolute;
        top: 40px;
        right: 0;
        bottom: 0;
        left: 0;

        overflow: auto;
    }

    .entry-title {
        font-size: 1.6rem;
        line-height: 1.25em;
        font-weight: normal;

        margin: 0 0 0.3em 0;
    }

    ol {
        list-style: none;

        padding: 0;
        margin: 0;

        border-top: #edece4 1px solid;
    }

    li {
        margin: 0;
        padding: 0;

        border-bottom: #edece4 1px solid;

        a {
            display: block;
            padding: 20px 20px;
            color: rgba(0,0,0,0.5);
            text-decoration: none;
        }
    }

    li.active {
        border-bottom: #e8eaeb 1px solid;
        background: #f7f7f3;
        box-shadow:
            #e8eaeb 0 -1px 0, // top border
            rgba(0,0,0,0.06) 7px 0 0 inset, // big left border
            #e8eaeb 1px 0 0 inset; // small left border
    }
}

.content-preview {
    position: absolute;
    width: 67%;
    bottom: 0;
    top: 0;
    right: 0;

    overflow: auto;

    padding: 15px;

    background: #fff;

    .content-preview-header {
        .content-date {
            float: left;
            margin-top: 7px;
            margin-left: 3px;
        }

        .content-edit {
            float: right;
            position: relative;
            top: 3px;

            .fa {
                margin-right: 5px;
            }
        }
    }

    .content-preview-content {
        padding-top: 5%;
        padding-bottom: 5%;
        max-width: 700px;
        margin: 0 auto;
    }
}
