.summernote-editor {
    &.fill-height {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;

        .note-editor {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;

            // Overwrites summernote CSS
            border: none;

            .note-toolbar {
                // Overwrites summernote CSS
                border-bottom: none;
            }

            .note-editable {
                position: absolute;
                // This is the height of .note-toolbar and it will be changed
                // by summernote-editor component on window resize
                top: 40px;
                right: 0px;
                bottom: 0px;
                left: 0px;

                // Overwrites summernote CSS
                padding: 15px 30px;
            }
        }
    }
}
