//
// Responsiveness
//

$small-max-width: 630px;
$medium-min-width: 631px;

//
// Colors
//

$midgrey: #7d878a;
$darkgrey: #242628;
$brown: #aaa9a2;
$lightbrown: #edece4;
$blue: #5ba4e5;

//
// Layout
//

$content-header-height: 44px;
$content-details-body-padding: 5%;
$content-cover-z-index: 3;

$content-action-button-width: 85px;
$content-action-button-margin: 15px;
$content-action-button-width-with-margin: $content-action-button-width + $content-action-button-margin;

//
// Images
//

// keep that in sync with SMALL_HEIGHT constant on server
$img-small-height: 60px;

// keep that in sync with SMALL_WIDTH constant on server
$img-small-width: 100px;

// small image with bootstrap class 'thumbnail'
$img-small-thumbnail-height: ($img-small-height + ($thumbnail-padding + 1px) * 2);
$img-small-thumbnail-width: ($img-small-width + ($thumbnail-padding + 1px) * 2);
