{{#modal-dialog title=(t 'site.deleteQuestion') ok='delete' okText=(t 'delete') okClass='btn-danger' close='closeModal' closeText=(t 'cancel')}}
    <h2>{{model.name}}</h2>
    {{#if model.tagline}}
        <p>
            {{model.tagline}}
        </p>
    {{/if}}
    <p>
        {{{model.description}}}
    </p>
    <br />
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Warning:</span>
      {{t 'site.deleteWarning'}}
    </div>
{{/modal-dialog}}
