{{#modal-dialog title='Are you sure you want to delete this page?' ok='delete' okText='Delete' okClass='btn-danger' close='closeModal' closeText='Cancel'}}
    <h4>You're about to permanently delete that page:</h4>
    <h2>{{model.title}}</h2>
    <p>
        Are you sure this is what you want ?
    </p>
{{/modal-dialog}}
