{{#modal-dialog title=i18n.deleteQuestion ok='delete' okText=i18n.delete okClass='btn-danger' close='closeModal' closeText=i18n.cancel}}
    <p>
        <img {{bind-attr src=model.smallUrl}} class="img-responsive center-block" />
    </p>
{{/modal-dialog}}
