{{#modal-dialog title=i18n.deleteQuestion ok='delete' okText=i18n.delete okClass='btn-danger' close='closeModal' closeText=i18n.cancel}}
    <h2>{{model.title}}</h2>
    {{#if model.place}}
    <p>
        {{model.place}}
    </p>
    {{/if}}
    <p>
        {{model.dateSentence}}
    </p>
    {{#if model.cover}}
        <p>
            <img src={{model.cover.smallUrl}} class="img-responsive center-block" />
        </p>
    {{/if}}
{{/modal-dialog}}
