{{#modal-dialog title=(t 'post.deleteQuestion') ok='delete' okText=(t 'delete') okClass='btn-danger' close='closeModal' closeText=(t 'cancel')}}
    <h2>{{model.title}}</h2>
    {{#if model.cover}}
        <p>
            <img src={{model.cover.smallUrl}} class="img-responsive center-block" />
        </p>
    {{/if}}
{{/modal-dialog}}
