{{#modal-dialog title=i18n.deleteQuestion ok='delete' okText=i18n.delete okClass='btn-danger' close='closeModal' closeText=i18n.cancel}}
    <h2>{{model.fullname}}</h2>
    <p>
        {{model.role}}
    </p>
    <p>
        {{model.description}}
    </p>
    {{#if model.photo}}
        <p>
            <img {{bind-attr src=model.photo.smallUrl}} class="img-responsive center-block" />
        </p>
    {{/if}}
{{/modal-dialog}}
