{{#modal-dialog title=(t 'file.deleteQuestion') ok='delete' okText=(t 'delete') okClass='btn-danger' close='closeModal' closeText=(t 'cancel')}}
    <p>
        <i class="fa fa-file-pdf-o"></i>
        <a href={{model.url}} target="_blank">{{model.name}}</a>
        <div>{{t 'file.added'}} {{ago model.createdAt}}</div>
    </p>
{{/modal-dialog}}
