{{#modal-dialog title=(t 'image.deleteQuestion') ok='delete' okText=(t 'delete') okClass='btn-danger' close='closeModal' closeText=(t 'cancel')}}
    <p>
        <img src={{model.smallUrl}} class="img-responsive center-block" />
    </p>
{{/modal-dialog}}
