{{#modal-dialog title=(t 'edition.leaveQuestion') ok='confirm' okText=(t 'edition.leave') okClass='btn-danger' close='closeModal' closeText=(t 'edition.stay')}}
    <p>{{t 'edition.leaveAction'}}</p>

    <p>{{t 'edition.leaveSave'}}</p>
{{/modal-dialog}}
