{{#modal-dialog title=i18n.leaveQuestion ok='confirm' okText=i18n.leave okClass='btn-danger' close='closeModal' closeText=i18n.stay}}
    <p>{{t 'edition.leaveAction'}}</p>

    <p>{{t 'edition.leaveSave'}}</p>
{{/modal-dialog}}
