{{#modal-dialog title='Choose image' ok='save' okText='Save' okClass='btn-primary' close='closeModal' closeText='Cancel'}}
  <form {{action 'ok' on='submit' target=view}}>
    Todo ! Uploader !
  </form>
{{/modal-dialog}}
