{{#modal-dialog title='Upload image' ok='save' okText='Save' close='closeModal' closeText='Cancel'}}
  <form {{action 'ok' on='submit' target=view}}>
    Todo ! Uploader !
  </form>
{{/modal-dialog}}
