<header class="content-header content-edit">
    {{input name="post[title]" type="text" class="edit-item-title" placeholder="Post title" value=titleScratch}}

    <button {{action "savePost"}} class="btn btn-success content-action-button"><i class="fa fa-floppy-o"></i> Save</button>
    <button {{action "cancelEdit"}} class="btn btn-default content-action-button">Cancel</button>
</header>
<section class="content-body content-edit">
    {{ivy-codemirror value=bodyScratch mode='gfm' lineWrapping=true}}
</section>
