<section class="content-edit">
    <header class="content-header">
        {{input name="post[title]" type="text" class="content-title" placeholder="Post title" value=titleScratch}}

        <button {{action "savePost"}} class="btn btn-success content-action-button"><i class="fa fa-floppy-o"></i> Save</button>
    </header>
    <section class="content-body">
        {{ivy-codemirror value=bodyScratch mode='gfm' lineWrapping=true}}
    </section>
</section>
