<section class="content-preview">
    <header class="content-header">
        <span class="content-date">Created on: {{moment createdAt}}</span>
        {{#link-to "post.edit" this class="btn btn-default content-action-button"}}<i class="fa fa-pencil"></i> Edit{{/link-to}}
    </header>
    <section class="content-body">
        <h1>{{title}}</h1>
        {{showdown-addon body}}
    </section>
</section>
