<div class="alert alert-success" role="alert">
    <div class="media">
        <div class="media-left">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{t 'auth.signupThanks'}}</h4>
            <p>
                {{{t 'auth.signupCheckMail'}}}
            </p>
            <p>
                {{email}}
            </p>
        </div>
    </div>
</div>
<div class="signup-login">
    {{#link-to 'login'}}{{t 'auth.loginHere'}}{{/link-to}}
</div>