<div class="alert alert-success" role="alert">
    <div class="media">
        <div class="media-left">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Thanks For Signing Up!</h4>
            <p>
                Please check your email and click <strong>Activate Account</strong> in the message we just sent to {{email}}.
            </p>
        </div>
    </div>
</div>
