<header class="post-preview-header clearfix">
    <h2 class="page-title">Preview</h2>
</header>
<section>
    <div class="wrapper">
        <h1>{{title}}</h1>
        <p>
            Created on: {{moment createdAt}}
        </p>
        <p>
            {{showdown-addon body}}
        </p>
    </div>
</section>
