<header class="content-preview-header">
    <small class="content-date">Created on: {{moment createdAt}}</small>
    {{#link-to "editor.post.edit" this class="btn btn-default content-edit"}}<i class="fa fa-pencil"></i> Edit{{/link-to}}
</header>
<section class="content-preview-content">
    <h1>{{title}}</h1>
    {{showdown-addon body}}
</section>
