//
// Color Vars
//

// Base: http://www.colourlovers.com/palette/292482/Terra
$blue-abisso: #033649;
$blue-abissodark: #022E3F;

$blue: #165275;
$blue-light: #ecf2f5;

// Ghost
$midgrey: #7d878a;
$darkgrey: #242628;
