//
// Image Vars
//

// keep that in sync with THUMB_FILL_HEIGHT constant on server
$img-thumb-height: 75px;

// keep that in sync with THUMB_FILL_WIDTH constant on server
$img-thumb-width: 100px;

// thumb image with bootstrap class 'thumbnail'
$img-thumb-thumbnail-height: ($img-thumb-height + ($thumbnail-padding + 1px) * 2);
$img-thumb-thumbnail-width: ($img-thumb-width + ($thumbnail-padding + 1px) * 2);
