//
// Layout Vars
//

// Content
$content-header-spacing: 15px;

$content-master-header-height: 44px;

$content-details-header-height: $img-thumb-thumbnail-height + ($content-header-spacing * 2);
$content-details-pages-header-height: 160px; // 120px
$content-details-events-header-height: 225px; // 185px
$content-details-body-padding: 5%;

$content-cover-z-index: 3;

$content-action-button-width: 85px;
$content-action-button-width-with-margin: $content-action-button-width + $content-header-spacing;

$content-edit-fields-height: 70px;

// Settings
$settings-item-spacing: 15px;
$settings-item-height: $img-thumb-thumbnail-height + ($settings-item-spacing * 2);