<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav pull-left">
        <li>{{#link-to 'posts'}}News{{/link-to}}</li>
        <li>{{#link-to 'events'}}Events{{/link-to}}</li>
        <li>{{#link-to 'pages'}}Pages{{/link-to}}</li>
        <li>{{#link-to 'settings'}}Settings{{/link-to}}</li>
      </ul>

      {{#if session.isAuthenticated}}
        <p class="navbar-text pull-right">{{session.currentUser.fullName}} - <a {{ action 'invalidateSession' }}>Logout</a></p>
      {{/if}}
    </div>
  </div>
</nav>
