<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav pull-left">
        <li>{{#link-to 'posts'}}News{{/link-to}}</li>
        <li>{{#link-to 'events'}}Events{{/link-to}}</li>
        <li>{{#link-to 'pages'}}Pages{{/link-to}}</li>
        <li>{{#link-to 'settings'}}Settings{{/link-to}}</li>
      </ul>

      {{#if session.isAuthenticated}}
        {{#rl-dropdown-container class="dropdown user-menu pull-right"}}
          {{#rl-dropdown-toggle tagName="div"}}
            {{session.currentUser.fullName}} <span class="caret"></span>
          {{/rl-dropdown-toggle}}

          {{#rl-dropdown tagName="ul" class="dropdown-menu" closeOnChildClick="a:link"}}
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a {{action 'invalidateSession'}}>Logout</a></li>
          {{/rl-dropdown}}
        {{/rl-dropdown-container}}
      {{/if}}
    </div>
  </div>
</nav>
