{{#unless hideNav}}
    {{partial "navbar"}}
{{/unless}}

<h2 id='title'>Welcome to Kowa</h2>

{{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession' }}>Logout</a>
{{/if}}

<hr />

{{outlet}}
