<section class="content-list">
    <header class="content-list-header">
        <small>All Posts</small>
        {{#link-to "editor.post" class="content-add btn btn-success btn-xs" title="New Post"}}<i class="fa fa-plus"></i> New post{{/link-to}}
    </header>
    {{#view "paginated-scroll-box" tagName="section" classNames="content-list-content"}}
        <ol class="posts-list">
            {{#each itemController="posts/post" itemView="post-item-view" itemTagName="li"}}
                {{#link-to "posts.post" this class="permalink" title="Edit this post"}}
                    <h3 class="entry-title">{{title}}</h3>
                    <section class="entry-meta">
                        Created: {{ago createdAt}}
                    </section>
                {{/link-to}}
            {{/each}}
        </ol>
    {{/view}}
</section>
<section class="content-preview">
    {{outlet}}
</section>
