<section class="content-list">
    {{#view "paginated-scroll-box" tagName="section" classNames="content-list-content"}}
        <ol class="posts-list">
            {{#each itemController="posts/post" itemView="post-item-view" itemTagName="li"}}
                {{#link-to "posts.post" this class="permalink" title="Edit this post"}}
                    <h3 class="entry-title">{{title}}</h3>
                    <section class="entry-meta">
                        Created: {{ago createdAt}}
                    </section>
                {{/link-to}}
            {{/each}}
        </ol>
    {{/view}}
</section>
<section class="content-preview">
    {{outlet}}
</section>
