<section class="content-master">
    <header class="content-header">
        <small>Posts</small>
        {{#link-to "posts.new" class="content-add btn btn-success btn-xs" title="New Post"}}<i class="fa fa-plus"></i> New post{{/link-to}}
    </header>
    {{#view "paginated-scroll-box" tagName="ol" classNames="content-body"}}
        {{#each item in controller itemView="list-item-view" itemTagName="li"}}
            {{#link-to "post" item class="permalink" title="Display this post"}}
                {{#if item.cover}}
                    <div class="item-cover">
                        <img {{bind-attr src=item.cover.thumbUrl}} alt="cover image" />
                    </div>
                {{/if}}
                <div class="item-infos">
                    <h3 class="item-title">{{item.title}}</h3>
                    <section class="item-meta">
                        Created: {{ago item.createdAt}}
                    </section>
                </div>
            {{/link-to}}
        {{/each}}
    {{/view}}
</section>
<section class="content-details">
    {{outlet}}
</section>
